/* MAIN STYLES */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: #0079bf;
  color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
}

.boards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.boards__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  max-width: 270px;
  width: 100%;
  padding: 10px;
  margin-left: 30px;
  border-radius: 3px;
  background-color: #ebecf0;
  color: #3e4f6b;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.boards__item:first-child {
  margin-left: 0;
}

.boards__item--add {
  margin-top: 5px;
  padding: 7px;
  cursor: pointer;
  border-radius: 3px;
  color: #7f8a9d;
}

.boards__item--add:hover {
  background-color: #091e4214;
}

.boards__item--remove {
  cursor: pointer;
}

.boards__title {
  padding: 7px;
  margin-right: 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
}

.boards__title:focus {
  outline: 2px solid #0079bf;
}

.boards__list {
  min-height: 35px;
}

.boards__list--item {
  padding: 7px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #ffff;
  border-radius: 3px;
  font-weight: 400;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.boards__list--item .remove__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.boards__list--item:hover {
  background-color: #dedede;
}

.boards__list--item:hover .remove__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boards__list--item .fa-trash-alt {
  color: #b6bac5;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.boards__list--item .fa-trash-alt:hover {
  color: #969698;
}

.boards__form {
  margin-top: auto;
  display: none;
  border-radius: 3px;
}

.boards__form--area {
  width: 100%;
  padding: 7px;
  resize: none;
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color: #ffff;
  color: #3e4f6b;
}

.boards__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boards__buttons--add {
  padding: 10px 15px;
  background-color: #0079bf;
  outline: none;
  border: 0;
  border-radius: 3px;
  color: #ffff;
  cursor: pointer;
}

.boards__buttons--cancel {
  padding: 10px 15px;
  margin-left: 5px;
  background-color: #de350b;
  outline: none;
  border: 0;
  border-radius: 3px;
  color: #ffff;
  cursor: pointer;
}

.addBoard {
  width: 200px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #ffffff3d;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.addBoard:hover {
  background-color: #dedede;
}
/*# sourceMappingURL=style.css.map */