// VARIABLES
$body-color: #0079bf;
$card-color: #ebecf0;
$text-color: #3e4f6b;
$footer-text-color: #7f8a9d;
$danger-color: #de350b;
$white-color: #ffff;

/* MAIN STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: $body-color;
  color: $white-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
}

// BOARDS
.boards {
  display: flex;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    max-width: 270px;
    width: 100%;
    padding: 10px;

    border-radius: 3px;
    background-color: $card-color;
    color: $text-color;

    transition: all 0.2s ease;

    &--add {
      margin-top: 5px;
      padding: 7px;
      cursor: pointer;

      border-radius: 3px;
      color: $footer-text-color;

      &:hover {
        background-color: #091e4214;
      }
    }
  }

  &__title {
    padding: 7px;

    font-size: 15px;
    font-weight: 500;

    &:focus {
      outline: 2px solid $body-color;
    }
  }

  &__list {
    min-height: 40px;

    &--item {
      padding: 7px;
      margin: 5px 0;
      cursor: pointer;

      background-color: $white-color;
      border-radius: 3px;

      font-weight: 400;
    }
  }

  &__form {
    margin-top: auto;

    border-radius: 3px;

    &--area {
      width: 100%;
      padding: 7px;

      resize: none;
      outline: none;
      border: 0;
      border-radius: 3px;
      background-color: $white-color;
      color: $text-color;
    }
  }

  &__buttons {
    display: flex;

    &--add {
      padding: 10px 15px;

      background-color: $body-color;
      outline: none;
      border: 0;
      border-radius: 3px;
      color: $white-color;
      cursor: pointer;
    }

    &--cancel {
      padding: 10px 15px;
      margin-left: 5px;

      background-color: $danger-color;
      outline: none;
      border: 0;
      border-radius: 3px;
      color: $white-color;
      cursor: pointer;
    }
  }
}
